@IframeFormModel model

<html>
<body>
    <form action="https://testpayments.globalone.me/merchant/paymentpage" method="post">
        <input type="hidden" name="TERMINALID" value="6491002" />
        <input type="hidden" name="ORDERID" value="3281" />
        <input type="hidden" name="CURRENCY" value="EUR" />
        <input type="hidden" name="AMOUNT" value="10.00" />
        <input type="hidden" name="DATETIME" value="15-3-2006:10:43:01:673" />
        <input type="hidden" name="HASH" value="dd77fde79d1039d6b39e20d748211530" />
        <input type="submit" value="Pay Now" />
    </form>
</body>
</html>